<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashstyle.css') }}">
    {% endblock %}
  </head>
  <body>
    <div class="header">
      <div class="username">{{ user }}</div>
      <ul class="nav">
        <li><a href="#">View/Edit Profile</a></li>
        <li><a href="#">Switch Role</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
