<!DOCTYPE html>
<head>
  <title>Jack Sparrow Search Engine</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='jack.png') }}" class="icon" />
  <h3>Captain Jack Sparrow, our real hero</h3>
  <form action="/" method="post">
    <input type="text" name="query" placeholder="your query" required />
    <input type="submit" value="Search" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
